body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  font-weight: 400;
  padding: 3rem;
  background-color: #dcdcdc;
}

.heading {
  text-align: center;
  background: linear-gradient(
    to right,
    $blue-gradient,
    $green-gradient
  );
  color: #fff;
  padding: 3rem;
  font-size: 2rem;
  width: 100%;
  font-weight: 700;
}